.top-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #0A0A0A;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-section {
    display: flex;
}

.logo {
    color: #FBC403;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 30px;
}

.top-bar-symbols {
    margin: 12px;
    font-size: 25px;
}