.playlist-page {
    margin-left: 1rem;
    margin-top: 5px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.video-card-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 15px;
}

.header {
    display: flex;
    justify-content: flex-start;
}

.playlist-logo {
    width: 300px;
    height: 300px;
}

.header-info {
    margin-left: 10px;
    position: relative;
}

.header-info-content {
    position: absolute;
    bottom: 0px;
}

.like-heart {
    font-size: 40px;
}

.header-name {
    font-size: 75px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}