.playlist-page {
    margin-top: 5px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.video-card-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.playlist-header {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: calc(100% - 50px);
    padding: 5px;
    border: white solid 5px;
    border-radius: 15px;
    box-shadow: 1px 1px 0px 1px black, 5px 5px white;
    background-color: #252525;
}

.playlist-logo {
    width: 300px;
    height: 300px;
}

.header-info {
    margin-left: 10px;
    position: relative;
}

.header-info-content {
    position: absolute;
    bottom: 0px;
}

.like-heart {
    font-size: 40px;
}

.header-name {
    font-size: 75px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}