.video-card {
    margin-right: 5px;
    margin-bottom: 20px;
}

.video-thumbnail {
    height: auto;
    width: calc((100vw - 250px - 1rem - 15px - 40px) / 3)
}

.video-info {
    margin: 0px;
    font-size: 15px;
}

.song-info {
    margin: 0px;
    font-size: 15px;
    color: #CDCDCD
}

.video-link {
    text-decoration: none;
    color: white;
}