.video-card {
    margin-bottom: 20px;
    width: calc((100vw - 250px - 1rem - 15px - 40px - 60px) / 3);
    border: white solid 3px;
    border-radius: 15px;
    box-shadow: 1px 1px 0px 1px black, 5px 5px white;
    background-color: #252525;
}

.video-thumbnail {
    height: auto;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width: calc((100vw - 250px - 1rem - 15px - 40px - 60px) / 3)
}

.video-info {
    margin: 0px;
    margin-left: 10px;
    font-size: 15px;
}

.song-info {
    margin: 0px;
    font-size: 15px;
    color: #CDCDCD
}

.video-link {
    text-decoration: none;
    color: white;
}

.video-card-bottom {
    left: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}