.media-container {
    text-align: center;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.video-element {
    transform: rotateY(180deg);
    height: 100%;
    margin-left: -44%;
    z-index: 1;
    object-fit: cover;
}

.video-focus-selection-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.camera-elements {
    transform: rotateY(180deg);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.focus-area {
    position: fixed;
    left: 100%;
}

.video-button {
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: 3;
}

.score {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    font-size: xx-large;
    color: white;
    background-color: black;
}