.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.video-element {
    transform: rotateY(180deg);
    height: 100%;
    margin-left: -44%;
    z-index: 1;
    object-fit: cover;
}

.video-focus-selection-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.focus-area {
    position: fixed;
    left: 100%;
}