.App {
    color: white;
}

.outlet-section {
    position: fixed;
    top: 50px;
    left: 250px;
    width: calc(100vw - 250px);
    height: calc(100vh - 50px);
    background-color: #151515;
}

button {
    border: none;
    padding: 0;
    background: none;
    color: white;
}