.App {
    color: white;
    background-color: #030303;
}

.outlet-section {
    position: fixed;
    top: 0px;
    left: 250px;
    width: calc(100vw - 250px);
    height: 100vh;
    background-color: #030303;
}

button {
    border: none;
    padding: 0;
    background: none;
    color: white;
}