.App {
    color: white;
}

.top-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 45px;
    background-color: #181818;
    border-bottom: 5px solid #404040;


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-section {
    display: flex;
}

.side-bar {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 200px;
    height: calc(100vh - 50px);
    background-color: #181818;
}

.outlet-section {
    position: fixed;
    top: 50px;
    left: 200px;
    width: calc(100vw - 200px);
    height: calc(100vh - 50px);
    background-color: #222831;
}

.side-bar-link {
    text-decoration: none;
    color: white;
}