.chapter-container {
    width: 190px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid white;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: calc((230px - 214px) / 2);
    margin-right: calc((230px - 214px) / 2);
}

.chapter-container-activated {
    width: 190px;
    padding-right: 10px;
    padding-left: 10px;
    border: 2px solid white;
    background-color: #E88D67;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: calc((230px - 214px) / 2);
    margin-right: calc((230px - 214px) / 2);
}

.chapter-card-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2px;
    margin-right: 5px;
    text-align: left;
    width: 170px;
    position: relative;
    overflow: hidden;
    overflow-wrap: break-word;
}

.chapter-card-text {
    color: white;
    font-size: 20px;
    margin: 0px;
}

.chapter-card-text-activated {
    color: black;
    font-size: 20px;
    margin: 0px;
}

.chapter-card-icon {
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

.chapter-card-icon-activated {
    color: black;
    font-size: 20px;
    margin-top: 5px;
}