.chapter-list-container {
    position: fixed;
    top: 10%;
    right: 0;

    width: 230px;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;

    z-index: 5;
}

.chapter-list-container-short {
    position: fixed;
    top: 42vh;
    right: 0;

    width: 230px;
    height: 55%;
    overflow-y: auto;
    overflow-x: hidden;

    z-index: 5;
}

.header-section {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 25px;
    margin: 5px;
}

.header {
    margin: 0px;
}

.plus-button {
    color: white;
    font-size: 25px;
}

.show-chapter-editor {
    z-index: 4;
}

.hide-chapter-editor {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    z-index: -1;
}