.video-container-half {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.video-container-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.video-element-half {
    transform: rotateY(180deg);
    height: 100%;
    margin-left: -25vw;
    z-index: 1;
    object-fit: cover;
}

.video-element-full {
    display: inline-block;
    transform: rotateY(180deg);
    width: 99.6vw;
    height: 99.6vh;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0.2vw;
}

.video-focus-selection-canvas {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.focus-area {
    position: fixed;
    left: 50%;
    z-index: 4;
}

.focus-area-hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    overflow: hidden;

    background-image: linear-gradient(to top, #000000FF, #00000000)
}

.time-slider {
    -webkit-appearance: none;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    background-image: linear-gradient(#FBC403, #FBC403);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    margin-bottom: 8px;
}

.full-time-slider {
    width: 100vw
}

.shortened-time-slider {
    width: 99.6vw;
    margin-left: 0.2vw;
}

.time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #FBC403
}

.time-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent
}

.bottom-half-controls {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.bottom-half-controls-section {
    display: flex;
    align-items: center;
}

.current-time {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.play-pause-button {
    color: white;
    font-size: 25px;
    padding-top: 2px;
}

.select-speed {
    appearance: none;
    background: none;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    font-size: 20px;
}

option {
    background-color: rgba(28, 22, 34, 0.5);
    color: white
}

.control-bar-icon {
    font-size: 27px;
    color: white;
}

.volume-slider {
    -webkit-appearance: none;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#FBC403, #FBC403);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #FBC403
}

.volume-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent
}

.toggle-buttons-deactivated {
    font-size: 25px;
    color: white;
    margin: 5px;
}

.toggle-buttons-activated {
    font-size: 25px;
    color: #FBC403;
    margin: 5px;
}

.video-controls-shown {}

.video-controls-hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    z-index: -1;
}

.whole-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.top-header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    width: 100%;
    font-size: 30px;
    color: white;
    align-items: center;
    z-index: 5;

    background-image: linear-gradient(#000000FF, #00000000)
}

.top-header-video-name {
    margin: 8px;
}

.video-back-button {
    font-size: 30px;
    margin-right: 10px;
    padding-top: 5px;
}